@font-face {
    font-family: Lato__Bold;
    src: url('../Fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato__Regular;
    src: url('../Fonts/Lato/Lato-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

/* New aside col starts here */

.Bg__col {
    background-color: #4C6FFf;
}

.create___top {
    padding: 15px 30px;
}

.create___top p {
    color: #FFFFFF;
}

.row__create {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column__create__aside {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.left__create__aside__col {
    background-color: #4C6FFF;
    height: 100vh;
    /* border: 1px solid black; */
}

.right__create__aside {
    background-color: #EEF4FF;
    height: calc(180vh - 60vh);
    /* border: 1px solid black; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.select__create__dn {
    position: absolute;
    top: 5%;
    left: -10%;
    right: 3%;
    bottom: 0;
    /* border: 1px solid black; */
}

.au {
    border-radius: 20px;
    background-color: #fff;
    height: 800px;
    overflow-y: auto;
}

.au .nav-item {
    margin-top: 143px;
}

.select__create__up {
    position: relative;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
}

.option__img {
    position: absolute;
    top: 18%;
    left: -3%;
}

.dbl__create__col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.text__create__step {
    margin: 200px 0px;
    padding: 0px 60px 0px 0px;
    text-align: center;
}

.div__step_one p {
    font-size: calc(12pt + 0.15vw);
    color: #FFFFFF;
    font-family: 'Lato__Bold';
    line-height: 1.2195;
    letter-spacing: 0.03em;
}

.create___top p {
    font-size: calc(12pt + 0.15vw);
    color: #FFFFFF;
    font-family: 'Lato__Bold';
    line-height: 1.2195;
    letter-spacing: 0.03em;
}

.div__step_one .sm__one__text {
    font-size: calc(10pt + 0.15vw);
    font-family: 'Lato__Bold';
}

.sm__text {
    font-size: calc(8pt + 0.15vw);
    font-family: 'Lato__Regular';
}

.step__two__text {
    margin: 120px 0px 0px 0px;
}

.step__two__text p {
    font-size: calc(12pt + 0.15vw);
    color: #FFFFFF;
    font-family: 'Lato__Bold';
    line-height: 1.2195;
    letter-spacing: 0.03em;
}

.step__span {
    font-size: calc(10pt + 0.15vw);
    font-family: 'Lato__Bold';
}

.step__span__two {
    font-size: calc(8pt + 0.15vw);
    font-family: 'Lato__Regular';
}

.step__three__text {
    margin: 120px 0px 0px 0px;
}

.step__three__text p {
    font-size: calc(12pt + 0.15vw);
    color: #FFFFFF;
    font-family: 'Lato__Bold';
    line-height: 1.2195;
    letter-spacing: 0.03em;
}

.sp__step__one {
    font-size: calc(8pt + 0.15vw);
    font-family: 'Lato__Regular';
}

.step__text__sp {
    font-size: calc(10pt + 0.15vw);
    font-family: 'Lato__Bold';
}

/* Bootstrap Nav Tabs */

.nav {
    display: initial;
}

.Bg__Icon {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 80px;
    width: 70px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.2);
    height: 70px;
}

.Bg__Icon__new {
    position: relative;
    top: -90px;
    left: 0;
    margin-bottom: 80px;
    width: 70px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.2);
    height: 70px;
}

.Bg__Icon__next {
    position: relative;
    top: -175px;
    left: 0;
    margin-bottom: 80px;
    width: 70px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.2);
    height: 70px;
}

.Bg__Icon #Img__one {
    position: absolute;
    top: 22px;
    width: 27px;
    left: 22px;
    right: 0;
    bottom: 0;
}

.Bg__Icon__new #Img__Two {
    position: absolute;
    top: 22px;
    width: 24px;
    left: 22px;
    right: 0;
    bottom: 0;
}

.Bg__Icon__next #Img__Three {
    position: absolute;
    top: 22px;
    width: 24px;
    left: 22px;
    right: 0;
    bottom: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent transparent transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent transparent transparent;
}

.tab-content {
    padding-left: 7rem;
    margin: 25px 0px;
}

.tab__one p {
    font-size: calc(12pt + 0.15vw);
    color: #1341FF;
    font-family: 'Lato__Bold';
    line-height: 1.9195;
    letter-spacing: 0.03em;
}

.title__text {
    margin: 30px 0px 0px 0px;
}

.title__text p {
    font-size: calc(10pt + 0.15vw);
    color: #404040;
    font-family: 'Lato__Bold';
    line-height: 1.1195;
    letter-spacing: 0.03em;
}

.nav-link {
    padding: 0;
}

.input {
    max-width: 80%;
}

input[type="text"] {
    font-size: calc(10pt + 0.15vw);
    color: #CBC9C6;
    font-family: 'Lato__Bold';
    line-height: 1.1195;
    letter-spacing: 0.03em;
}

.form-control {
    background-color: #EEF4FF;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    padding: 15px 15px;
}

.form-control:focus {
    background-color: #EEF4FF;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    padding: 15px 15px;
}

.form-control::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CBC9C6;
    /* Firefox */
}

.form-control::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CBC9C6;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CBC9C6;
    /* Firefox */
}

.form-control::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CBC9C6;
    /* Firefox */
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CBC9C6;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #CBC9C6;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #CBC9C6;
}

.select__lable {
    margin: 50px 0px 0px 0px;
}

.select__lable p {
    font-size: calc(10pt + 0.15vw);
    color: #404040;
    font-family: 'Lato__Bold';
    line-height: 1.1195;
    letter-spacing: 0.03em;
}

.click {
    margin: 120px 0px;
    float: right;
    position: relative;
}

.position {
    position: absolute;
    right: 27px;
    top: 7px;
}

.position img {
    width: 55%;
}

.click button {
    padding: 10px 60px 10px 60px;
    border: none;
    background-color: #0573ED;
    color: #FFFFFF;
    border-radius: 15px;
}

.click button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: calc(12pt + 0.15vw);
    font-family: 'Lato__Bold';
    line-height: 1.1195;
    letter-spacing: 0.03em;
}

.click button:hover {
    background-color: #FFBF64;
}

.click button:hover a {
    color: #0573ED;
}

/* Style the active class, and buttons on mouse-over */

.actives {
    background-color: #FFBF64;
}

@media screen and (max-width: 768px) {
    .select__create__dn {
        left: 2%;
    }
    .row__create {
        flex-direction: column;
    }
    .left__create__aside__col {
        height: auto;
    }
    .text__create__step {
        margin: 50px auto;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    .option__img {
        left: 3%;
    }
}

.nice-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #EEF4FF;
    font-size: calc(10pt + 0.15vw);
    color: #CBC9C6;
    font-family: 'Lato__Bold';
    line-height: 1.1195;
    letter-spacing: 0.03em;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    padding: 15px 15px 15px 15px;
    outline: none;
    position: relative;
    text-align: left!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select.open, .nice-select:active, .nice-select:focus {
    border: 1px solid #4C6FFF;
    color: #4C6FFF;
}

.nice-select:after {
    border-bottom: 2px solid #4264D0;
    border-right: 2px solid #4264D0;
    content: "";
    display: block;
    height: 10px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 10px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .nice-select-dropdown {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .nice-select-dropdown {
    left: 0!important;
    right: 0!important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .nice-select-dropdown {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .nice-select-dropdown {
    margin-top: 4px;
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(-19px);
    transform: scale(.75) translateY(-19px);
    -webkit-transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    opacity: 0;
}

.nice-select .list {
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 0;
    max-height: 210px;
    overflow-y: auto;
    box-shadow: 0px 26px 40px rgba(76, 111, 255, 0.16);
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent!important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover {
    background-color: #DBE8FF;
}

.nice-select .option.selected {
    font-weight: 700;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .nice-select-dropdown {
    display: none;
}

.no-csspointerevents .nice-select.open .nice-select-dropdown {
    display: block;
}

.nice-select .list::-webkit-scrollbar {
    width: 0;
}

.nice-select .has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 36px;
    line-height: 22px;
}

.nice-select .has-multiple span.current {
    /* border: 1px solid #ccc; */
    background: #eee;
    padding: 0 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.nice-select .has-multiple .multiple-options {
    display: block;
    line-height: 24px;
    padding: 0;
}

.nice-select .nice-select-search-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    pointer-events: none;
    border-radius: 5px 5px 0 0;
}

.nice-select .nice-select-search {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0!important;
    font-size: 14px;
}

::-moz-selection {
    background: #f3f4f7;
}

::selection {
    background: #f3f4f7;
}

/* .container {
    margin: 96px auto 60px;
    max-width: 40em;
} */

.box {
    background-color: #f6f7f9;
    border-radius: 2px;
}

.list dl, ol, ul {
    margin-bottom: 0rem;
}

/* # */

/* card starts here */

.Card__row__special {
    display: flex;
    flex-wrap: wrap;
}

.Card__col__special {
    flex: 1 0 18%;
    height: auto;
    color: white;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

.blur {
    border: 2px solid #91A7FF;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

#deks {
    width: 100%;
}

#deks:hover {
    filter: blur(2px);
}

.step__two p {
    font-size: calc(12pt + 0.15vw);
    color: #1341FF;
    font-family: 'Lato__Bold';
    line-height: 1.9195;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 640px) {
    .Card__col__special {
        flex: 1 0 60%;
    }
}

@media screen and (max-width: 568px) {
    .au {
        height: 690px;
    }
}

/* width */

.au::-webkit-scrollbar {
    width: 10px;
    background-color: #C6C6C6;
}

/* Track */

.au::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 15px;
}

/* Handle */

.au::-webkit-scrollbar-thumb {
    background: #4C6FFF;
    border-radius: 10px;
}

/* Handle on hover */

.au::-webkit-scrollbar-thumb:hover {
    background: #4C6FFF;
}